<%= render "shared/header"%>
<%= form_with model: @content, id: 'new_post', url:content_path, local: true do |f| %>
  <%= render 'shared/error_messages', model: f.object %>
  <div class="content-page">
      記事を編集する
      <%= f.text_field :title, class:"title", placeholder:"タイトル" %>
      <%= f.text_area :text, class:"text", placeholder:"テキスト" %>
     <div>
        <div id="previews"></div>
        <div class="click-upload">
          <p>クリックしてファイルをアップロード</p>
          <%= f.file_field :image, name: 'content[images][]', data: {index: 0} %>
        </div>
      </div>
      <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"category-select"}) %>
      <%= f.submit "編集する" ,class:"btn" %>
  </div>
<% end %>