<div class="contents-back">

  <% if user_signed_in?%>

    <% if @content.present?%>
      <div class="main-contents">
        <div class="main-title">
          <%= @content.title %>
        </div>
        <% if @content.images.attached?%>
          <div class="main-image">
                <% @content.images[0..-1].each do |image| %>
                  <div class="content-images">
                    <%= image_tag image.variant(resize: '300x300'), class: 'content-image' %>
                  </div>
                <%end%>
          </div>
        <% end %>
        <div class="main-text">
          <%= text_url_to_link(escape_dissable(safe_join((h(@content.text)).split("\n"),tag(:br)))).html_safe %>
        </div>
        <div class="contents-bottom">
          <%= link_to "編集", edit_content_path(@content.id), class: "edit-button"%>
          <%= link_to "削除", content_path(@content.id), method: :delete, class: "destroy-button"%>
        </div>
      </div>
    <% else %>
       <div class="main-contents">
          <div class="main-title">
            ようこそSlatへ
          </div>
          <div class="main-text">
            <h3>＜概要＞<br></h3>
            ・このアプリは、増えるブックマークや知識を記事という形でアウトプットすることで整理するものです。<br>
            <h3>＜記事の作成方法＞<br></h3>
            ・記事を作成する場合は、ヘッダーの記事作成ボタンより記事を作成してください<br>
            ・記事作成時、画像は任意で3枚まで付けることができますが、herokuの標準機能では24時間経過で自動的に表示されなくなります。<br>
            ・テキスト欄にはURLをそのまま載せることが可能、段落もそのまま本文に反映されます。<br>
            <h3>＜記事の閲覧方法＞<br></h3>
            ・画面左側のサイドバーにあなたが作成した記事カテゴリーを表示します。（他ユーザーの記事は表示されません）<br>
            ・カテゴリーをクリックすることで、そのカテゴリーの記事名を一覧表示、再クリックで収納します。<br>
            ・記事名をクリックすることで、記事の詳細を確認出来ます。<br>
            <h3>＜記事の編集＞<br></h3>
            ・記事画面の下の編集ボタンより編集画面に入れます。<br>
            <h3>＜記事の削除＞<br></h3>
            ・記事画面の下の削除ボタンより削除出来ます。現状、確認ボタンが出てきたりはしないので誤って削除しないように注意してください。<br>
            <h3>＜記事名の検索＞<br></h3>
            ・ヘッダーにある検索フォームで検索したい言葉を入れてボタンを押すことで、入力した文字を含む記事名のみに絞り込むことが可能です。<br>
          </div>
        </div>
    <% end %>
  <% else %>
    <div class="main-contents">
      <div class="main-title">
      ようこそSlatへ
      </div>
      <div class="main-text">
      ここは自分の知識を整理する空間です。<br>
      初めての方は新規登録ボタン、既にアカウント登録されている方はログインボタンを押してください。<br>
      </div>
    </div>
  <% end %>

</div>