<div class="contents-back">

  <% if user_signed_in?%>

    <% if @content.present?%>
      <div class="main-contents">
        <div class="main-title">
          <%= @content.title %>
        </div>
        <% if @content.images.attached?%>
          <div class="main-image">
                <% @content.images[0..-1].each do |image| %>
                  <div class="content-images">
                    <%= image_tag image.variant(resize: '300x300'), class: 'content-image' %>
                  </div>
                <%end%>
          </div>
        <% end %>
        <div class="main-text">
          <%= @content.text %>
        </div>
        <div class="contents-bottom">
          <%= link_to "編集", edit_content_path(@content.id), class: "edit-button"%>
          <%= link_to "削除", content_path(@content.id), method: :delete, class: "destroy-button"%>
        </div>
      </div>
    <% else %>
       <div class="main-contents">
          <div class="main-title">
            ようこそSlatへ
          </div>
          <div class="main-image">
          </div>
          <div class="main-text">
            記事を作成する場合は右上の記事作成ボタンをクリックしてください。<br>
            記事を閲覧する場合は左のサイドバーから記事をクリックしてください。<br>
          </div>
        </div>
    <% end %>
  <% else %>
    <div class="main-contents">
      <div class="main-title">
      ようこそSlatへ
      </div>
      <div class="main-image">
      </div>
      <div class="main-text">
      ここは自分の知識を整理する空間です。<br>
      初めての方は新規登録ボタン、既にアカウント登録されている方はログインボタンを押してください。<br>
      </div>
    </div>
  <% end %>

</div>