<div class="side-back">
  <div class="search-form">
    <%= form_with url: search_contents_path, method: :get, local: true do |f| %>
      <%= f.text_field :keyword, placeholder: "記事名を検索する"%>
      <%= f.submit "検索", id: "search-btn" %>
    <% end %>
  </div>

  <% if user_signed_in? %>
    <%@user_content.each do |content|%>
      <% if content.present? %>
        <div class=category-list>
          <div class="category-title" type="disc">
            <div class="category-name">【<%= content.first.category.name %>】</div>
            <ul class="contents-side-box">
              <% content.each do |t| %>
                <li class="title-list"> <%= link_to t.title, content_path(t.id), class: "content-title", remote: true %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    <% end %>

  <% else %>
    <div class=category-list>
      <div class="category-title" type="disc">
        <div class="category-name">【サンプルカテゴリー】</div>
          <ul class="contents-side-box">
            <li class="title-list"><div class="content-title">サンプルコンテンツ1</div></li>
            <li class="title-list"><div class="content-title">サンプルコンテンツ2</div></li>
          </ul>
        </div>
      </div>
  <% end %>
</div>