<div class="side-back">
  <div class="search-form">
    <%= form_with url: "#", method: :get, local: true do |f| %>
      <%= f.text_field :keyword, value: @keyword %>
      <%= f.submit "検索" %>
    <% end %>
  </div>

  <% if user_signed_in? %>
    <%@user_content.each do |content|%>
      <% if content.present? %>
        <div class=category-list>
          <ul type="disc"><%= content.first.category.name %>
            <% content.each do |t| %>
              <li>|ー<%= t.title%></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>

  <% else %>
    <div class=category-list>
      <ul type="disc">
          <li>|ーサンプルテキスト</li>
          <li>|ーサンプルテキスト</li>
      </ul>
    </div>
  <% end %>
</div>